@media (min-width: 200px){
    body {
        background-color: rgb(35, 77, 103);
        padding: 20px;
    }
    
    img {
        width: 150px;
        height: 165px;
        margin: 10px;
    }

    .tabelaGeral {
        color: aliceblue;
    }

    h4 {
        color : rgb(255, 167, 38);
    }

}